*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #8a340f;
    min-height: 100vh;
    background-image: url(./imagenes/fondo.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    padding: 50px;
    text-align: center;
    font-size: 75px;
}

h2{
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
}

.seleccion-personajes img{
    padding: 0px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    gap: 50px;
}

.seleccion-personajes{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    gap: 80px;
}

.personaje-fuego{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    text-align: center;
    background-color: #e04909;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgb(208, 255, 21);
}

input{
    height: 20px;
    margin-top: 10px;
}

#boton-seleccionar{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-seleccionar button{
    width: 125px;
    height: 60px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
}

.botones{
    text-align: center;
    width: 200px;
    height: 65px;
    font-size: 35px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: #000000;
    color: white;
}

#seleccionar-ataque{
    display: flex;
    flex-wrap: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.batalla{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contenedor-vidas h3{
    font-size: 40px;
}

.contenedor-vidas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.contenedor-vidas div{
    width: 300px;
    height: auto;;
    border-radius: 10px;
    padding: auto;
}

.vidas-mascota, .vidas-enemigo{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: wheat;
}

.vidas-mascota p, .vidas-enemigo p{
    font-size: 35px;
}

#vidas-jugador, #vidas-enemigo{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 247, 0);
}

#mascota-jugador, #mascota-enemigo{
    font-size: 3rem;
    color: rgb(255, 247, 0);
}

#mensajes{
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: wheat;
    font-size: 43px;
    height: auto;
    width: 50%;
    border-radius: 10px;
}

#reiniciar{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#reiniciar button{
    text-align: center;
    width: 150px;
    height: 65px;
    font-size: 30px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: #000000;
    color: white;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button{
    width: 80px;
    height: 60px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 10px 0;
}

.subtitulo{
    margin: 15px;
}


@media (max-width: 1024px) {
    h1 {
        font-size: 50px;
        color: white;
    }

    h2{
        font-size: 40px;
    }

    .seleccion-personajes img {
        height: 230px;
        width: 200px;
    }

    .seleccion-personajes{
        font-size: 30px;
    }

    input{
        height: 15px;
    }

    .botones{
        width: 140px;
    }

    #mensajes{
        font-size: 35px;
    }

    .contenedor-vidas h3{
    font-size: 30px;
    }

    .vidas-mascota p, .vidas-enemigo p{
    font-size: 25px;
    }

    #vidas-jugador, #vidas-enemigo{
        font-size: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 247, 0);
    }

    #mascota-jugador, #mascota-enemigo{
        font-size: 2rem;
        color: rgb(255, 247, 0);
    }
}

@media (max-width: 768px){

    h2{
        color: white;
    }

    .seleccion-personajes img {
        height: 220px;
        width: 150px;
        padding: 0;
        gap: 50px;
    }

    .botones{
        width: 100px;
    }

    #mensajes{
        font-size: 25px;
    }

    #reiniciar{
    margin-top: 0;
    }

    #reiniciar button{
    width: 100px;
    height: 55px;
    font-size: 20px;
    }
}

@media (max-width: 425px){
    body{
        background-image: none;
    }

    #seleccionar-mascota{
        flex-direction: column;
    }

    h1{
        font-size: 50px;
    }

    h2{
        font-size: 30px;
    }

    .seleccion-personajes{
        margin: 25px;
        flex-direction: column;
    }

    .personaje-fuego{
        flex-direction: row;
        height: 150px;
        width: auto;
    }

    .personaje-fuego img{
        height: 150px;
        width: 100px;
    }

    label{
        justify-content: center;
        align-content: center;
        margin-top: 50px;
    }

    input{
        display: none;
    }

    #contenedorTarjetas{
        gap: 30px;
    }

    .imagen-fuego{
        margin-left: 60px;
    }

    #boton-seleccionar{
        padding: 10px;
    }

    .batalla{
        gap: 10px;
    }

    .botones{
        width: 70px;
    }

    #mensajes{
        font-size: 15px;
    }

     .contenedor-vidas h3{
    font-size: 20px;
    }

    .vidas-mascota p, .vidas-enemigo p{
    font-size: 15px;
    }

    #vidas-jugador, #vidas-enemigo{
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 247, 0);
    }

    #mascota-jugador, #mascota-enemigo{
        font-size: 1rem;
        color: rgb(255, 247, 0);
    }
}
